.outerbox{
  border: 2px solid black;
  height: 100%;
  width: 50%;
  border-radius: 20px;
  margin: auto;
}

.innerbox{
    margin: 20px 10px 10px 10px;
    border: 2px solid black;
}

.editor{
    display: flex;
    flex-direction: row;
}

.editor a{
    padding-left: 15px;
}

.showscreen{
    margin: 40px;
}

.showscreen input{  
    font-size: 35px;
    border: 1px solid black;
    text-align: end;
    height: 70px;
    width: 100%;
}


.icons{
   display: flex;
}
